/*
  Externes Stylesheet, U.Graf
*/

      h1 { color : red; }
      
      p.odd {background-color : silver; }

      #border_paragraph { border-style: solid;  border-width: 1}

      ul ul li { font-size: 80%; color: blue; }

