
body {
  background-color: #e0e0eb;
  font-family: Verdana, Arial, sans-serif;
  margin: 0 5%;
}
h1{
  border-bottom: 1px solid black;
  text-align: center;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

nav{
  float: left;
  width: 15%;
}

#ifrm{
  float: right;
  width: 75%;
  height: 80vh;

}